h1{
    color:#ffff00;
}
p{
    color:#ffd700;
}
button{
    color:brown;
}
button{
    background-color:blue;
}
body{
    background-color: #000000;
}
#f1{
    color:blueviolet;

}
#f2{
    color:hotpink;
}
.A1{
    color:skyblue;
}