#a{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    margin-left: 25px;
    margin-top: 10px;
}
#b{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 25px;
}
#c{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    margin-left: 25px;
}
#d{
    background-color: black;
    height: 330px;
    width: 150px;
    border: 3px solid blue;
}